body {
    background-color: gray;
}
.warning {
    color: yellow;
}
.good {
    color: green;
}
.bad {
    color: red;
}
#connection_status {
    position: fixed;
    left: 20px;
    bottom: 20px;
}
