<!DOCTYPE html>
<html>
    <head>
    <title>Drawing Canvas</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
    <style>
        canvas {
        border: 1px solid black;
        touch-action: none;
        }
    </style>
    </head>
    <body>
    <h2>Draw on the Canvas</h2>
    <input type="color" id="colorPicker" value="#000000">
    <canvas id="drawingCanvas" width="500" height="400"></canvas>
    
    <div id="connection_status"></div>
    
    <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
    <script type="module" src="{{ url_for('static', filename='js/socket.js') }}" ></script>
    <script type="module" src="{{ url_for('static', filename='js/draw.js') }}" ></script>
    </body>
</html>
