<!DOCTYPE html>
<html>
<head>
  <title>WebSocket Test</title>
  <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/mainstyle.css') }}">
  <script src="{{ url_for('static', filename='js/socket.js') }}"></script>
</head>
<body>
  <h2>WebSocket Chat</h2>
  <input id="messageInput" placeholder="Type a message..." />
  <button onclick="sendMessage()">Send</button>
  <button onclick="sendHello()">hello</button>
  <ul id="messages"></ul>
  <div id="connection_status"></div>
  <div id="hello"></div>

  
</body>
</html>
